*.a
*.d
*.exe
*.idb
*.lib
*.mode1v3
*.mode2v3
*.o
*.obj
*.odbg
*.pch
*.pdb
*.swp
*.user
*~.nib
.DS_Store
build/
platform/windows/base/Debug/BuildLog.htm
platform/windows/container/Debug/BuildLog.htm
platform/windows/datastruct-bstree/Debug/BuildLog.htm
platform/windows/datastruct-critbit/Debug/BuildLog.htm
platform/windows/datastruct-dstree/Debug/BuildLog.htm
platform/windows/datastruct-hash/Debug/BuildLog.htm
platform/windows/datastruct-linkedlist/Debug/BuildLog.htm
platform/windows/datastruct-orderedarray/Debug/BuildLog.htm
platform/windows/datastruct-patricia/Debug/BuildLog.htm
platform/windows/datastruct-queue/Debug/BuildLog.htm
platform/windows/datastruct-trie/Debug/BuildLog.htm
platform/windows/datastruct/Debug/BuildLog.htm
platform/windows/keyval/Debug/BuildLog.htm
platform/windows/utils/Debug/BuildLog.htm
