*.a
*.d
*.exe
*.idb
*.lib
*.mode1v3
*.mode2v3
*.o
*.obj
*.odbg
*.pch
*.pdb
*.swp
*.user
*~.nib
.DS_Store
build/
platform/windows/*/Debug/*
platform/windows/*/Release/*
platform/windows/*/*/Debug/*
platform/windows/*/*/Release/*
research
saved.output
